.container-programmes-active {
  margin-top: 500px;
  margin-left: 500px;
  position: absolute;
  z-index: 99;
}
.container-programmes-active h1{
  font-size: 100px;
  color: #2F1E18;
  margin-bottom: 100px;
}
#programmes{
  height: 100vw;
  background: #fff6ed;
}
.container-programmes-active h2{
  color: #B29057;
  font-size: 46px;
}
.contant-gallery{
  width: 1000px ;
  height: 900px;
  background: #2F1E18;
  border-radius: 20px;
  padding: 50px 50px;
}

  .contant-gallery div{
    width: 900px ;
    height: 800px;
    border: 1px solid white;
border-radius: 20px;
padding: 10px;
padding-top: 70px;

  }
.contant-gallery-div img{
object-fit: cover;
border-radius: 20px;
margin: 30px;
flex-wrap: wrap;
}
#price{
  height: 1200px;
  background: #fff6ed;
}
.price-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #B29057;
  padding-bottom: 25px;
  margin-top: 90px;
}
.container-price{
  max-width: 70%;
  margin: 0 auto;
}
.container-price p{
  font-size: 100px;
  color: #2F1E18;
  margin-bottom: 100px;
}
.price-card h3{
  font-size: 20px;
  color: #917753;
  margin-bottom: 30px;
}
.price-card h1{
  font-size: 40px;
  font-weight: 400;
}



