#help-block{
  height: 100vh;
  background: #fff6ed;
}
.faq-container{
  max-width: 70%;
  margin: 0 auto;
}
.faq-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #B29057;
}
.faq-text p{
  font-size: 40px;
  padding-bottom: 50px;

}
.help-block h1{
  font-size: 100px;
  color: #2F1E18;
  margin-bottom: 100px;
}
.faq-text h2{
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 50px;
  margin-top: 20px;

}